<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="fr">
    <title>Spring Framework</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />

    <link rel="stylesheet" href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" media="screen" />
    <link rel="stylesheet" href="../static/css/header.css" th:href="@{css/header.css}"
          media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <img src="../static/images/spring.png" alt="Spring logo"
             th:src="@{images/spring.png}"/>
        <h1>Hello !</h1>
        <h2>Check out the Spring Framework</h2>
    </div>

</div>

</body>
</html>